
.logo > img{
    width: 200px;
}
div#stickyHeader {
    background-color: rgba(0, 0, 0, 0.9);
}
body {
    font-family: "Tahoma";
    background: #e9ebee;
}
.single-hero-slide{
    height: 400px;
}
.quick-sell-title{
    font-size: 25px;
}
.quick-sell-content, .quick-sell-title{
    color: #fff;
}
.title{
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.ofcv{
    width: 100%;
    height: 100%;
}
.vitri_ofcv{
    width: 100%;
    height: 500px;
}
.video_vitri {
    border: 2px solid #dddddd;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 2px;
}
.hero-area{
    padding-top: 60px;
}

.div-content{
    font-weight: 600;
    padding-bottom: 10px;
}
.img_grand_villas{
    margin-top: 48px;
}
.breakpoint-off .classynav ul li .dropdown {
    width: 250px;
}

.image-cover{
    text-align: center;
    margin-top: 5px;
    /* background: #e9ebee; */
}
.image-cover > img{
    height: 560px;
}
.icon.zalo{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.icon > img{
    width: 25px;
    background-color: white;
    border-radius: 15%;
}
.carousel{
    width: 700px !important;
}

.property-thumb > img{
    width: 700px !important;
}
    